/UWP_IssueBlurringTextInViewBox/obj
/UWP_IssueBlurringTextInViewBox/bin
/UWP_IssueBlurringTextInViewBox/UWP_IssueBlurringTextInViewBox.csproj.user
/.vs/UWP_IssueBlurringTextInViewBox/v16/Server/sqlite3
/.vs/UWP_IssueBlurringTextInViewBox/v16/TestStore/0
/.vs/UWP_IssueBlurringTextInViewBox/v16/.suo
